body {
    margin: 0;
    background-color: #C6F7E4;
    font-family: 'Georgia', serif;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: dimgrey;
    color: azure;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    box-sizing: border-box;
    z-index: 1000;
}
.logo{
    color:aliceblue;
    font-size: 150%; 
    text-decoration: none;
}
.menu-touggle {
    padding: 0.2em;
    font-size: 130%;
    color: white;
    background-color: aliceblue;
    display: none;
    cursor: pointer;
    font-size: 1.2em;
}
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.nav-links{
    display: flex;
    gap: 20px;
}
section{
    display: block;
}
.nav-links a {
    padding: 0.2em;
    font-size: 130%;
    color:aliceblue;
    text-decoration: none;
}

footer {
    background-color: dimgrey;
    padding: 37.5px;
}
main {
    padding: 10px 25px 0px 25px;
    display: block
}
.resume section {
    width: 90%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 40px 20px 20px 20px;
    border-radius: 8px;
    font-size: 13px;
}
h2 {
    font-weight: 700;
    font-family: 'Georgia', serif;
}
.resume section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 56px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.resume section table th {
    background-color: #E4E5E5;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}
.resume section table td {
    padding: 10px;
    border: 1px solid #ddd;
}
td {
    display: table-cell;
    vertical-align: inherit;
}